<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doophie.forgethearena">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BattleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpriteSheetAnimation"
            android:label="@string/title_activity_sprite_sheet_animation"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomizeCharacterActivity"
            android:label="@string/title_activity_customize_character"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadFromDatabase"
            android:label="@string/title_activity_load_from_database"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReforgeWeaponActivity"
            android:label="@string/title_activity_reforge_weapon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseItemsActivity"
            android:label="@string/title_activity_purchase_items"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>